CRM_Client/Service References/AnalyticsReference/CRM_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CRM_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRM_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfResultService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultService" nillable="true" type="tns:ResultService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultService" nillable="true" type="tns:ArrayOfResultService" />
  <xs:complexType name="ResultService">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultService" nillable="true" type="tns:ResultService" />
</xs:schema>