CRM_Client/Service References/AnalyticsReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CRM_Service" />
  <xs:element name="Top5CustomersSummaDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Top5CustomersSummaDealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRM_Service" minOccurs="0" name="Top5CustomersSummaDealResult" nillable="true" type="q1:ArrayOfResultService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Top5CustomersRelevance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Top5CustomersRelevanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CRM_Service" minOccurs="0" name="Top5CustomersRelevanceResult" nillable="true" type="q2:ArrayOfResultService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Top5StaffSummaDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Top5StaffSummaDealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CRM_Service" minOccurs="0" name="Top5StaffSummaDealResult" nillable="true" type="q3:ArrayOfResultService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Top5StaffRelevance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Top5StaffRelevanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CRM_Service" minOccurs="0" name="Top5StaffRelevanceResult" nillable="true" type="q4:ArrayOfResultService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StateTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StateTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CRM_Service" minOccurs="0" name="StateTransactionsResult" nillable="true" type="q5:ArrayOfResultService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>