CRM_Client/Service References/AnalyticsReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Analytics" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAnalytics_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CRM_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAnalytics_Top5CustomersSummaDeal_InputMessage">
    <wsdl:part name="parameters" element="tns:Top5CustomersSummaDeal" />
  </wsdl:message>
  <wsdl:message name="IAnalytics_Top5CustomersSummaDeal_OutputMessage">
    <wsdl:part name="parameters" element="tns:Top5CustomersSummaDealResponse" />
  </wsdl:message>
  <wsdl:message name="IAnalytics_Top5CustomersRelevance_InputMessage">
    <wsdl:part name="parameters" element="tns:Top5CustomersRelevance" />
  </wsdl:message>
  <wsdl:message name="IAnalytics_Top5CustomersRelevance_OutputMessage">
    <wsdl:part name="parameters" element="tns:Top5CustomersRelevanceResponse" />
  </wsdl:message>
  <wsdl:message name="IAnalytics_Top5StaffSummaDeal_InputMessage">
    <wsdl:part name="parameters" element="tns:Top5StaffSummaDeal" />
  </wsdl:message>
  <wsdl:message name="IAnalytics_Top5StaffSummaDeal_OutputMessage">
    <wsdl:part name="parameters" element="tns:Top5StaffSummaDealResponse" />
  </wsdl:message>
  <wsdl:message name="IAnalytics_Top5StaffRelevance_InputMessage">
    <wsdl:part name="parameters" element="tns:Top5StaffRelevance" />
  </wsdl:message>
  <wsdl:message name="IAnalytics_Top5StaffRelevance_OutputMessage">
    <wsdl:part name="parameters" element="tns:Top5StaffRelevanceResponse" />
  </wsdl:message>
  <wsdl:message name="IAnalytics_StateTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:StateTransactions" />
  </wsdl:message>
  <wsdl:message name="IAnalytics_StateTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:StateTransactionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAnalytics">
    <wsdl:operation name="Top5CustomersSummaDeal">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnalytics/Top5CustomersSummaDeal" message="tns:IAnalytics_Top5CustomersSummaDeal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnalytics/Top5CustomersSummaDealResponse" message="tns:IAnalytics_Top5CustomersSummaDeal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Top5CustomersRelevance">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnalytics/Top5CustomersRelevance" message="tns:IAnalytics_Top5CustomersRelevance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnalytics/Top5CustomersRelevanceResponse" message="tns:IAnalytics_Top5CustomersRelevance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Top5StaffSummaDeal">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnalytics/Top5StaffSummaDeal" message="tns:IAnalytics_Top5StaffSummaDeal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnalytics/Top5StaffSummaDealResponse" message="tns:IAnalytics_Top5StaffSummaDeal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Top5StaffRelevance">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnalytics/Top5StaffRelevance" message="tns:IAnalytics_Top5StaffRelevance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnalytics/Top5StaffRelevanceResponse" message="tns:IAnalytics_Top5StaffRelevance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StateTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnalytics/StateTransactions" message="tns:IAnalytics_StateTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnalytics/StateTransactionsResponse" message="tns:IAnalytics_StateTransactions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAnalytics" type="tns:IAnalytics">
    <wsp:PolicyReference URI="#NetTcpBinding_IAnalytics_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Top5CustomersSummaDeal">
      <soap12:operation soapAction="http://tempuri.org/IAnalytics/Top5CustomersSummaDeal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Top5CustomersRelevance">
      <soap12:operation soapAction="http://tempuri.org/IAnalytics/Top5CustomersRelevance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Top5StaffSummaDeal">
      <soap12:operation soapAction="http://tempuri.org/IAnalytics/Top5StaffSummaDeal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Top5StaffRelevance">
      <soap12:operation soapAction="http://tempuri.org/IAnalytics/Top5StaffRelevance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StateTransactions">
      <soap12:operation soapAction="http://tempuri.org/IAnalytics/StateTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Analytics">
    <wsdl:port name="NetTcpBinding_IAnalytics" binding="tns:NetTcpBinding_IAnalytics">
      <soap12:address location="net.tcp://localhost:8733/CRM_Service/Analytics/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/CRM_Service/Analytics/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>